[Bug] The configuration JSON schemas use the wrong properties for default values and assign bad regex patterns

**Describe the bug**

Some properties in GitVersion.configuration.json are used for the wrong purpose (`pattern` where `default` should be used) or are assigned bad values (human-readable date-time formats are assigned to regex-only fields).

Were these mistakes made by a schema generator?

![image](https://github.com/GitTools/GitVersion/assets/7243190/e28b95ff-538e-4103-8b05-adfc47ca4ccf)

(See #possible-fix)

## Expected Behavior
The `*-version-bump-message` fields should...
...not use the `pattern` property expect any regex string and use the `default` annotation field.

## Actual Behavior
The `*-version-bump-message` fields expect regex-like values which perfectly match the regex pattern in the `pattern` field which is currently set the default values of each field.
If the fields' values are different than the default values, YAML/JSON validators declare it an error.

## Possible Fix

<details><summary>scratch that. I'm making a PR. While fixing the pattern-default issues, I discovered the regex patterns for date-time fields are useless.</summary>

https://github.com/GitTools/GitVersion/blob/0abd8d64785def97502960b2486109a2c6258153/schemas/6.0/GitVersion.configuration.json#L86-L91
```diff
    "major-version-bump-message": {
      "format": "regex",
-      "pattern": "\u0027\\\u002Bsemver:\\s?(breaking|major)\u0027",
+      "default": "\u0027\\\u002Bsemver:\\s?(breaking|major)\u0027",
      "description": "The regular expression to match commit messages with to perform a major version increment. Default set to \u0027\\\u002Bsemver:\\s?(breaking|major)\u0027",
      "type": "string"
    },
```

https://github.com/GitTools/GitVersion/blob/0abd8d64785def97502960b2486109a2c6258153/schemas/6.0/GitVersion.configuration.json#L99-L104
```diff
    "minor-version-bump-message": {
      "format": "regex",
-      "pattern": "\u0027\\\u002Bsemver:\\s?(feature|minor)\u0027",
+      "default": "\u0027\\\u002Bsemver:\\s?(feature|minor)\u0027",
      "description": "The regular expression to match commit messages with to perform a minor version increment. Default set to \u0027\\\u002Bsemver:\\s?(feature|minor)\u0027",
      "type": "string"
    },
```
</details>

## Steps to Reproduce

In an editor with JSON/YAML validation (e.g. VSCode), create GitVersion.yml and write `minor-version-bump-message: "^(feat)(\\([\\w\\s-]*\\))?:"` to it.

## Context
VSCode complains that custom version bump message patterns don't match the "required" patterns for their respective fields.

## Your Environment

- Operating System: Windows 11 Pro Version 22H2 (OS Build 22621.2428)
- VSCode: ["1.83.1", "f1b07bd25dfad64b0167beb15359ae573aecd2cc", "x64"]
- redhat.vscode-yaml: 1.14.0
- GitVersion.MSBuild: 6.0.0-beta.3
- GitVersion.configuration.json: 6.0


Good question. @arturcic, any idea what might be causing this?

Most probably we will need to improve the description of the mentioned properties so that the generated schema is correct.

https://github.com/GitTools/GitVersion/blob/main/src/GitVersion.Core/Configuration/GitVersionConfiguration.cs

As an aside, `commit-date-format`'s `pattern` could be rewritten in regex to properly allow "real" dates (leap days, months with 30 days) and prohibit impossible dates (30th/31st of February; 31st of March/April/June/September/November). I started on it at https://regexr.com/7mahd. Those exceptions-to-the-rule will be complex to solve.

I've noticed an issue with `JsonPropertyPatternAttribute` that will require a bit more refactoring.
It was implemented as an amalgamation of
```jsonc
// e.g. "555-1212" or "(888)555-1212", and NOT "(800)FLOWERS"
"type": "string",
"pattern": "^(\\([0-9]{3}\\))?[0-9]{3}-[0-9]{4}$"
```
and
```jsonc
// e.g. \+semver:\s?(breaking|major)
"type": "string",
"format": "regex"
```

The former implies the value of the `string`-type property should conform to the specified Regular Expression pattern which may be asserted by a validator or language server.
The latter implies the value of the `string`-type property should be a RegEx pattern.
And the following implies a `string`-type property that can be parsed as a DateTime object:
```jsonc
// e.g. "2018-11-13T20:20:39+00:00"
"type": "string",
"format": "date-time"
```
Additionally, the `date-time` format may be asserted to follow [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), a subset of [ISO8601 format](https://www.iso.org/iso-8601-date-and-time-format.html).

I'll apply the `ObsoleteAttribute` to the `PatternFormat` enum with an explanation and refactor code to separate the usage of patterns and formats.

I'm discussing how to use JSON's `default` keyword over [here](https://github.com/gregsdennis/json-everything/issues/548)

Why are default values–specifically, the ones identical in both GitFlow and GitHubFlow–not defined/assigned in the `GitVersionConfiguration`? For now, we can add attributes to hint at the supposed default values, but these attribute's values could instead be inferred from initializers...or compile-time constant properties i.e. each configuration type would have `public const` of the configuration type with their default values.

For the sake of making the PR easier on me, I'll define default values in `ConfigurationConstants` and move existing defaults to it.
If this is undesired, I'll revert the commit(s).

<!-- GitReleaseManager release comment -->
:tada: This issue has been resolved in version 6.0.0-beta.4 :tada:
The release is available on:
- [GitHub Release](https://github.com/GitTools/GitVersion/releases/tag/6.0.0-beta.4)
- [Chocolatey Package](https://chocolatey.org/packages/GitVersion.Portable/6.0.0-beta.4)
- [.Net Global Tool](https://www.nuget.org/packages/GitVersion.Tool/6.0.0-beta.4)

Your **[GitReleaseManager](https://github.com/GitTools/GitReleaseManager)** bot :package::rocket: